<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.title1 {
    font-family: "Kaushan Script", cursive;
=======
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
* {
    margin: 0;
    padding:0;
    background-size: cover;
}

.main-body{
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 80px;
}
.main-body .p1{
    font-size: 120px;
>>>>>>> 5e3cb450bf73e8e659e9730020657deffa069984
    text-align: center;
    color: #900c3f;
    font-size: 70px;
    font-weight: 600;
    padding: 150px;
    box-shadow: 0 0 10px 3px #e1388d;
}
.sp{
    
}
.about1{
    text-align:center ;
    font-family: 'Kaushan Script', cursive;
}
.about1 .we-are{
    font-size: 70px;
    color: #cc0066;
}
.about1 .p1{
    font-size: 30px;
    color: rgb(36, 35, 35);
}

.members{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}
.members .we-are{
    font-size: 70px;
    color: #cc0066;
    text-align: center;
}   
.first-3{
}
.first-3 .m1{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 450px;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    width: 300px;
    font-size: 30px;
    box-shadow: 0 0 10px 3px #e1388d;
}

.first-3 .m1: hover{
    transition: 1s;
<<<<<<< HEAD
    border-radius: 10px;
}
=======
    border-radius: 10%;
}
.D2{
        margin: 30px;
        height: 700px;
        width: 600px;
        display: inline-block;
        font-family: 'Kaushan Script', cursive;
        box-shadow: 0 0 13px 3px rgb(7, 7, 7);
        background-image: url(./../img/sarita1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .D2:hover{
        transition: 1s;
        border-radius: 10%;
    }
.D3{
        margin: 30px;
        height: 700px;
        width: 600px;
        display: inline-block;
        font-family: 'Kaushan Script', cursive;
        box-shadow: 0 0 13px 3px rgb(7, 7, 7);
        background-image: url(./../img/sarita.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        
}
.D3:hover{
    transition: 0.5s;
    border-radius: 10%;
}
.name
{
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    margin-top: 500px;
    font-weight: 600;
    color: white;
}

>>>>>>> 5e3cb450bf73e8e659e9730020657deffa069984
