@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
.heading {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  font-size: 50px;
  background-color: #cc0066;
  color: white;
  margin: 0;
}
.box {
  position: sticky;
  top: 0;
}
.p {
  font-size: 25px;
  text-align: center;
  color: #cc0066;
  font-family: "Kaushan Script", cursive;
  margin: 0;
  background-color: #ffe6f2;
}

.main-img {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
}
.icons {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}
.parent {
  display: flex;
  justify-content: space-around;
  align-items: centre;
  margin-top: 60px;
  justify-content: space-around;
  align-items: centre;
  margin-top: 80px;
  margin-bottom: 60px;
}
.delivery {
  text-align: center;
  justify-content: center;
  width: 350px;
  border: 1px solid black;
  margin: 10px 20px;
  border-radius: 30px;
  box-shadow: 0px 4px 8px 0px #000;
}
.delivery:hover {
  box-shadow: 5px 5px 5px 2px black;
  transition: 0.5s;
}
.icons {
  box-shadow: 2px 4px 8px 0px #000;
  background-color: #cc0066;
  border: 1px solid black;
  border-radius: 50%;
}
.icons:hover {
  
  cursor: pointer;
  transition: 0.5s;
}
.head {
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
  color: black;
  font-size: 30px;
}
.para {
  font-family: "Kaushan Script", cursive;
  font-size: 23px;
  color: grey;
  margin-bottom: 20px;
}
.Category {
  color: #cc0066;
  text-align: center;
  font-size: 35px;
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
  margin-bottom: 0%;
}
.main-category {
  color: #900c3f;
  text-align: center;
  font-size: 80px;
  font-family: "Kaushan Script", cursive;
  margin-top: 0;
}
.Category-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  z-index: 9999;
}
.Category-card {
  margin: 20px;
  width: 350px;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0px 4px 8px 0px #000;
  
}
<<<<<<< HEAD
.Category-card:hover {
  box-shadow: 3px 3px 10px 4px #000;
  transition: 0.5s;
=======
.Category-card:hover{
  box-shadow: 5px 5px 5px 2px black;
  
 
>>>>>>> 4eae499502e8a725e2a91217096f3fa3068d99ca
}
.Category-img {
  border-radius: 25px 25px 0 0;
  height: 20rem;
  max-height: 100%;
  width: 100%;
}
.Category-name {
  color: black;
  font-weight: 600px;
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-size: 2.5rem;
  padding: 10px 20px;
}
.Category-items {
  font-size: 2rem;
  color: gray;
  line-height: 1.7;
  font-family: "Kaushan Script", cursive;
  text-align: center;
}

@media screen and (max-width: 768px) {
  body {
    display: inline-block;
    height: fit-content;
    font-size: smaller;
  }
  .main-img {
    height: 100%;
  }
  .box p {
    font-size: medium;
  }
  p {
    font-size: small;
  }
  .main-category {
    font-size: 55px;
  }
  .parent {
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px auto;
    align-items: center;
  }
  .happy .parent .delivery {
    padding: 10px;
  }
  .nav {
    font-size: medium;
  }
<<<<<<< HEAD
=======
  .delivery{
    margin-bottom:30px ;
  }
>>>>>>> 4eae499502e8a725e2a91217096f3fa3068d99ca
}
