body {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    background-size: cover;
}

.main-body {
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 80px;
}

.main-body .p1 {
    font-size: 120px;
    text-align: center;
    color: #900c3f;
    margin-bottom: 0;
    margin-top: 80px;

}

.d1 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    color: #cc0066;
    margin-bottom: 0;
}

.h3 {
    margin-top: 20px;
}

.d1 .p2 {
    text-align: justify;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color: grey;
    padding: 10px 50px;
    margin-bottom: 40px;
}

.p3 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color: grey;
    margin-bottom: 4cm;
}

.heading {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 50px;
    background-color: #cc0066;
    color: white;
    margin: 0;
}

.backimg {
    width: 150px;
}

.p4 {
    font-family: 'Kaushan Script', cursive;
    color: #cc0066;
    font-size: 70px;
}

.Contactto {
    background-color: #ffe6f2;
    border: solid black;
    border-width: 2px;
    display: inline-block;
    margin: 50px;

    height: 400px;
    width: 350px;
}

.peoples {
    background-color: #ffe6f2;
}

.Contactto:hover {
    box-shadow: 1px 1px 5px 6px black;
    cursor: pointer;
    transition: 0.5s;
}

.p3 {
    font-size: 30px;
    margin-bottom: 100px;
    padding-bottom: 10px;
}

.D1 {
    margin: 30px;
    height: 700px;
    width: 600px;
    display: inline-block;
    font-family: 'Kaushan Script', cursive;
    box-shadow: 0 0 13px 3px rgb(7, 7, 7);
    background-image: url(./../img/kanchan.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.D1:hover {
    transition: 1s;
    border-radius: 10%;
}

.D2 {
    margin: 30px;
    height: 700px;
    width: 600px;
    display: inline-block;
    font-family: 'Kaushan Script', cursive;
    box-shadow: 0 0 13px 3px rgb(7, 7, 7);
    background-image: url(./../img/sarita1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.D2:hover {
    transition: 1s;
    border-radius: 10%;
}

.D3 {
    margin: 30px;
    height: 700px;
    width: 600px;
    display: inline-block;
    font-family: 'Kaushan Script', cursive;
    box-shadow: 0 0 13px 3px rgb(7, 7, 7);
    background-image: url(./../img/sarita.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.D3:hover {
    transition: 0.5s;
    border-radius: 10%;
}

.name {
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    margin-top: 500px;
    font-weight: 600;
    color: white;
}



.title {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    margin: 15px 0;
    padding: 10px;
    background-color: #ffe6f2e6;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 350px;
    height: 530px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px;
    margin: 15px;
    background-color: #fff;
}

.img {
    width: 100%;
    padding: 20px;
}

.review-img {
    width: 100%;
    height: 200px;
    border-radius: 10px;

}

.person-name {
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    margin-top: 10px;
}

.review-star {
    height: 60px;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.star-img {
    height: 20px;
}

.review-discription {
    text-align: center;
    padding: 5px;
}

.review-time {
    text-align: center;
    margin-bottom: 5px;
    padding: 0;
    color: black;
    font-size: smaller;
}

section {
    padding: 100px;
}

.content {
    max-width: 960px;
    margin-top: 150px;
    margin-left: 70px;
}

.h3 {
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.h4 {
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 5px black;
    margin-bottom: 30px;

}


.btn {
    margin-top: 10px;
    font-size: 21px;
    color: white;
    background-color: #ff1a8c;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
    box-shadow: 0px 0px 10px black;

}

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}