section {
    padding: 100px;
}

.content {
    max-width: 960px;
    margin-top: 150px;
    margin-left: 70px;
}

.h3 {
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.h4 {
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

body {
    margin: 0px;
    padding: 0px;
}

.title {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    margin: 15px 0;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 350px;
    height: 530px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px;
    margin: 15px;
    background-color:#ffe6f2;
}

.img {
    width: 100%;
    padding: 20px;
}

.review-img {
    width: 100%;
    height: 200px;
    border-radius: 10px;

}

.person-name {
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    margin-top: 10px;
}

.review-star {
    height: 60px;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.star-img {
    height: 20px;
}

.review-discription {
    text-align: center;
    padding: 5px;
}

.review-time {
    text-align: center;
    margin-bottom: 5px;
    padding: 0;
    color: black;
    font-size: smaller;
}