
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
* {
  font-family: "Kaushan Script", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
}
.navigation {
  text-align: right;
  display: flex;
  justify-content: space-evenly;
  background-color: #cc0066;
  font-size: 25px;
  text-align: center;
}
.he2 {
  color: #cc0066;
}
.he1 {
  font-size: 80px;
}
.title {
  text-align: center;
  color: #900c3f;
  font-size: 2rem;
  font-weight: 300;
}
.title span {
  color: #cc0066;
  display: inline-block;
  margin-bottom: 0.2rem;
}
.A {
  margin: 20px;
  width: 450px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 0px #000;
}
.A:hover {
  box-shadow: 0 6px 28px black;
  position: relative;
  transform: translateY(-6px);
  font-size: 0.6rem;
  transition: 0.3s;
}
.box-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}
.price {
  font-size: 25px;
  text-align: center;
  color: black;
  font-weight: 600;
  margin-top: 20px;
}
.btn-buy {
  margin: 20px;
  background-color: #9d1255;
  color: white;
  border: none;
  padding: 10px 50px;
  margin-bottom: 50px;
  border-radius: 25px;
  margin-left: 120px;
  font-size: 25px;
  box-shadow: 0px 4px 8px 0px #000;
}
.btn-buy:hover {
  box-shadow: 0px 6px 9px 0px #000;
  transform: scale(1.03);
  transition: 0.3s;
}
.discription {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin: 10px 20px;
  margin-top: 20px;
}
.discription:hover {
  color: #cc0066;
}
.B {
  height: 20rem;
  max-height: 100%;
  width: 100%;
}
.d {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  color: grey;
  text-align: center;
  margin-top: 5px;
}
