
  @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #ffe6f2;
}

.nav {
  text-align: right;
  display: flex;
  background-color: #cc0066;
  font-size: 25px;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.menu {
  color: white;
  text-decoration: none;
  font-family: "Kaushan Script", cursive;
  padding: 2px 30px;
  margin: 1px 15px;
}

